<div class="row">
  <div class="column" style="background-color:#100C;">
    <h2 style="color: white; font-style: bold; font-family: sans-serif;"><u>Introduction<u></h2>
    <p style="font-size: 15px; letter-spacing: 3px; font-family: script; color:turquoise;">
      <br>
      I am Anshika Bhatnagar.
      <br>I love to do comeptitive programming.
      <br>I am a full stack python developer 
      and love to work on Machine Learning, Data science and Artificial Intelligence.
      I love to explore new technologies.
    </p>
  </div> <!--End of first column-->
  <div class="column" style="background-color:black;">
    <h2 style="color: white; font-style: bold; font-family: sans-serif;"><u>My Achievements</u></h2>
    <p>
      <ul style="font-size: 15px; letter-spacing: 3px; font-family: script; color:turquoise;">
        <li>Third Position at Codechef CodeBooster:Chapter 1 Contest.</li>
        <li>Winner at W#Code Begins, women's day Contest.</li>
        <li>Winner At Blind Coding Contest At Xception 3.0, UEC Ujjain.</li>
        <li>Winner At Code2Do Team Coding Contest At Xception 3.0,UEC Ujjain.</li>
      </ul>
    </p>
  </div><!--End of second column-->
  <div class="column" style="background-color:black;">
    <h2 style="color: white; font-style: bold; font-family: sans-serif;"><u>Positions:-</u></h2>
    <p>
      <ul style="font-size: 18px; letter-spacing: 3px; font-family: script; color:turquoise;">
        <li>Campus lead at Facebook Developer Circles </li>
        <li>Technical Learing Lead, Codechef MGI Chapter</li>
        <li>Campus Ninja, Coding Ninjas</li>
        <li>Data science mentor at Girlscript Foundation</li>

      </ul>
    </p>
  </div><!--End of third column-->
  <br><br>

 
  <div class="vein">
      <div class="div2">
        <h2 style="color: white; font-style: bold; font-family: sans-serif;"><u>Certifications and Trainings.</u></h2>
    <p>
      <ul style="font-size: 15px; letter-spacing: 3px; font-family: script; color:turquoise;">
        <li> Certified data Scientist from IIT, Madras.</li>
        <li>Udacity AWS Machine Learning Foundations Course(ongoing)</li>
        <li>Core+ Advance Java with Angular Framework (Summer Training)</li>
        <li>Machine Learning WebApp Creation using Streamlit, Coursera</li>
        <li>Introduction to SQL, Datacamp</li>
        <li>Introduction to Git, Datacamp</li>
        <li>Image Processing, Datacamp</li>
        <li>Augmented Reality Course from Facebook School Of Innovation</li>
        <li>Python and Web Development Training (Summer 2019)</li>
        <li>C/C++ Summer Training by FACE</li>
      </ul>
    </p>
        

      </div>
<br><br>